/_parser         export-ignore
/config          export-ignore
/tests           export-ignore
AGENTS.md        export-ignore
Makefile         export-ignore
composer.lock    export-ignore
phpunit.xml      export-ignore
.gitattributes   export-ignore
